<li>


  <div class="span1"><%= link_to food.name, edit_food_path(food) %></div>
  <div class="span1"><%= food.price %></div>

  <% if user_is_admin? %>

      <% if menu %>

          <div class="span2"> <%= link_to "Remove from Menu", frommenu_path(:id => food.id), :method => :post %></div>
      <% else %>
          <div class="span2">   <%= link_to "Delete", food, method: :delete,
                                            data: {confirm: "You sure?"} %>

            | <%= link_to "Add to Menu", tomenu_path(:id => food.id), :method => :post %></div>
      <% end %>


  <% end %>

</li>