<% provide(:title, "Edit Food") %>
<h1>Update food</h1>

<div class="row">
  <div class="span6 offset6">
      <%= form_for(@food) do |f| %>

      <%= f.label :food_name %>
      <%= f.text_field :name %>

      <%= f.label :price %>
      <%= f.text_field :price %>
      
      <%= f.label :food_type %>
      <%= f.select :course,  options_for_select([['First course', 'first'], ['Second course', 'second'],['Drink', 'drink']],@food.course)  %>
      <%= f.submit "Update Food", class: "btn btn-large btn-primary" %>
    <% end %>

    
  </div>
</div>