<% provide(:title,'All Food') %>
<div class="row">
  <div class="span10 offset4">
      <%= link_to "Add a new food", newfood_path, class: "btn btn-large btn-primary" %>
      <h1>All Food</h1>
       <%= will_paginate %>
    <div class ="row" >
       
        <div class="span 4">
            <h4>First course</h4>
       
<ul class="foods foods_first">
    <%= render @foods %>
</ul>


            
        </div> 
        <div class="span 4">
             <h4>Second course</h4>
        
<ul class="foods foods_second">
    <%= render @foods_second %>
</ul>


        </div> 
        <div class="span 4">
            <h4>Drink course</h4>
       
<ul class="foods foods_drink">
    <%= render @foods_drink %>
</ul>


        </div> 
       
    </div> 
    <%= will_paginate %>
    </div>
</div>